.domains__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.domains__container > div {
  background: var(--color-bg-variant);
  padding: 2rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.domains__container > div:hover {
  background: transparent;
  background-color: var(--color-primary-variant);
  cursor: default;
}
.domains__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}
.domains__content {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  row-gap: 2rem;
  column-gap: 2rem;
}
.domains__details {
  display: flex;
  gap: 1rem;
}

.domains__details-icons {
  margin-top: 6px;
  color: var(--color-primary);
}

/*   media  queries(medium devices) */

@media screen and (max-width: 1024px) {
  .domains__container {
    grid-template-columns: 1fr;
  }
  .domains__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .domains__content {
    grid-template-columns: repeat(2, 1fr);

    padding: 1rem;
  }
}

/*  media  queries(small devices) */

@media screen and (max-width: 600px) {
  .domains__container {
    gap: 1rem;
  }
  .domains__container > div {
    width: 100%;
    padding: 0.1rem;
  }
}
